<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vista del administrador</title>
    <link rel="stylesheet" href="/originalSoftgi01/static/css/home.css">
</head>
<body>
    
    
    <header class="contenido-cabecera">
      <h1>  Le damos la bienvenida adminsitrad@r</h1>
      <div class="logo"></div>
        <figure><img src="/originalSoftgi01/static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-sin-fondo"></figure>
      </div>
      <div >

          <h1>Vista del adminsitrador</h1>
        
        <nav>
          <ul>
            <li><a href="proveedor.html">Proveedores</a></li>
            <li><a href="clientestabla.html">Clientes</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="cotizaciones.html">Cotizaciones</a></li>
            <li><a href="ventas.html">Vinos </a></li>
            <li><a href="facturas.html">Facturas</a></li>
            <li><a href="empleados.html">Empleados</a></li>
          </ul>
        </nav>
      </div>
    </header>
      <section>
        <h2>Contenido Principal</h2>
        <p>Este es el contenido principal de la página.</p>
      </section>
      <footer>
        <p>Derechos de autor © 2023 JENASOFT-SOFTGI</p>
      </footer>
      
</body>
</html>