<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <main id="inicio">
        <section id="opciones">
            <div id="logo">
                <figure id="logo">
                    <img src="../static/img/parabrisas_logo.png" alt="">
                </figure>
            </div>

            <div id="nombre">
                <p id="usuario">Nombre</p>
            </div>

            <div id="menu">
                <a href="">
                    <i class="lni lni-menu"></i>
                </a>
            </div>
        </section>

        <section id="buscar">
            <div id="buscador">
                <i class="lni lni-search-alt"></i>
                <input type="text">
            </div>
        </section>

        <section id="modulos">
            <div id="producto" class="modulos">
                <a href="{{url_for('muestra_Productos')}}">
                    <figure><img src="../static/img/modulos/producto.png" alt=""></figure>
                </a>
                <p class="titulo">Productos</p>
            </div>
            <div id="ventas" class="modulos">
                <a href="{{url_for('muestra_ventas')}}">
                    <figure><img src="../static/img/modulos/ventas.png" alt=""></figure>
                </a>
                <p class="titulo">Ventas</p>
            </div>
            <div id="cotizaciones" class="modulos">
                <a href="{{url_for('Cotizacion')}}">
                    <figure><img src="../static/img/modulos/cotizaciones.png" alt=""></figure>
                </a>
                <p class="titulo">Cotizaciones</p>
            </div>
            <div id="compras_proveedores" class="modulos">
                <a href="{{url_for('muestra_compra_proved')}}">
                    <figure><img src="../static/img/modulos/compras_proveedores.png" alt=""></figure>
                </a>
                <p class="titulo">Compras a proveedores</p>
            </div>
            <div id="devoluciones" class="modulos">
                <a href="{{url_for('muestraDevoluciones')}}">
                    <figure><img src="../static/img/modulos/devoluciones.png" alt=""></figure>
                </a>
                <p class="titulo">Devoluciones</p>
            </div>
            <div id="clientes" class="modulos">
                <a href="{{url_for('clientes')}}">
                    <figure><img src="../static/img/modulos/clientes.png" alt=""></figure>
                </a>
                <p class="titulo">Clientes</p>
            </div>
            <div id="empleados" class="modulos">
                <a href="muestra_empleados">
                    <figure><img src="../static/img/modulos/empleados.png" alt=""></figure>
                </a>
                <p class="titulo">Empleados</p>
            </div>
            <div id="administracion" class="modulos">
                <a href="">
                    <figure><img src="../static/img/modulos/administracion.png" alt=""></figure>
                </a>
                <p class="titulo">Administración</p>
            </div>
        </section>
    </main>
</body>
</html>