<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categorias</title>
    <link rel="stylesheet" href="../../static/css/editar_categorias.css">
</head>
<body>
    <main id="inicio">
        <div id="img-parabri">
            <img src="../../static/img/logo_parabrisas_delvalle_PNG_sinFondo.png" alt="logo-fondo-parabrisas-sin-fondo" id="logo">
        </div>
        <form action="/editar_categoria" method="post" id="formu_categorias">
            <h2>Editar clientes</h2>
                <div class="cont-campos">

                    <input type="text" name="id_categoria" id="id_categoria" class="campo"  value="{{resul[0]}}">

                    <input type="text" name="nom_categoria" id="nomcat" class="campo"  value="{{resul[1]}}">
                    
                </div>

               <div id="boton-atras">
                    <button type="submit" class="boton-atras">Guardar</button>
                </div>
        </form>
        <div id="boton-atras">
            <button class="boton-atras" onclick="window.location.href='/categorias'">Regresar</button>
        </div>
    </main>
</body>
</html>