<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar devoluiones</title>
</head>
<body>
    <main id="inicio">
        <form action="">
            <div class="campos">
                <input type="number" name="num_factura" id="num_factura" placeholder="Numero de factura" class="campo">
                <input type="text" name="cliente_devolucion" id="cliente_devolucion" placeholder="Documento del cliente" class="campo">
                <input type="text" name="producto_devolucion" id="producto_devolucion" placeholder="Nombre del producto" class="campo">
                <input type="number" name="cantidad_proddevolucion" id="cantidad_proddevolucion" placeholder="Cantidad a devolver" class="campo">
                <input type="number" name="precio_proddevolucion" id="precio_proddevolucion" placeholder="Valor" class="campo">
                <input type="text" name="motivo_devolucion" id="motivo_devolucion" placeholder="Motivo de la devolucion" class="campo" >
                <input type="number" name="monto_total_devolucion" id="monto_total_devolucion" placeholder="Valor total" class="campo">
            </div>
            <div>
                <button type="submit">Guardar</button>
            </div>
        </form>
    </main>
</body>
</html>